@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-mobile {
    background: url("../images/mobile/image-header.jpg") no-repeat center;
    background-size: cover;
}
.bg-image-desktop {
    background: url("../images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;
}
li{
    @apply mr-12
}
.yellow:after{
    @apply bg-[#FAD400]
}
.red:after{
    @apply bg-[#FE7867]
}
.more-shadow::after {
    @apply rounded transition-opacity ease-in-out duration-300 opacity-0 absolute inset-x-0 -bottom-0 h-[8px] w-full z-[-1] block;
    content: ""
}

.more-shadow:hover::after{
    @apply opacity-100
}

.fill-white:hover {
    fill: white;
}

.fill-default {
    fill: #2C7566;
    transition: ease-in-out 300ms;
}

.burger-opened{
    display: flex;
    position: absolute;
    top: 10px;
    bottom: 30px;
    left: 20px;
    right: 20px;
}
